<html>
	<head>
		<title>CheckMail</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	  	    
		<%= javascript_include_tag "bootstrap" %>
		<%= stylesheet_link_tag "checkmail", :media => "all" %>
	</head>
	<body>
		 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

		<div id="home-wrapper">
			<!-- <h1>Hello World</h1> -->
			<header>
				<div class="navbar navbar-default navbar-static-top home-nav">
					<!-- Navbar label navigation -->
					<div class="navbar-left-side">
						<ul class="nav navbar-nav quick-nav-labels">
							<li><a href="/about">About Us</a></li>
							<li><a href="/tour" >Tour</a></li>
							<li><a href="/press" >Press</a></li>
					    </ul>
					</div>
				    <div class="navbar-right-side home-navbar-right">
				    	<ul class="nav navbar-nav pull-right">
			    			<li><a href="<%= url_for user_omniauth_authorize_path(:google_oauth2) %>" class="btn navbar-btn btn-sm btn-success">Sign Up</a></li>
			    			<li><a href="<%= url_for user_omniauth_authorize_path(:google_oauth2) %>" class="btn navbar-btn btn-sm btn-default">Login</a></li>
				    		<li><a href="/" class="navbar-brand"><img src="<%= image_path("logo.svg") %>" height="19" alt=""></a></li>
				    	</ul>
				    </div>

				</div>
			</header>

			<div class="welcome-first-page">
				<div class="first-page-header pg-header"><h2>Take a breath. Relax. Your email is under control.</h2></div>
				<div class="first-page-content-wrapper">
					<div class="half-width pull-left left-image first-page-content" style="background-image: url(<%= image_path 'computer.png' %>);"></div>
					<div class="half-width first-page-text first-page-content pull-right">
						<div class="content-wrapper">
							<h1 class="title-on-green">Let's make your life a little easier.</h1>
			    			<a href="" class="sign-up-button" type="button" data-toggle="modal" data-target="#sign-up-modal">Sign Up With Gmail</a>
		    			</div>
					</div>
				</div>
			</div>

			<div class="second-page">
				<div class="second-page-header pg-header"><h2>A New Way Of Seeing Things</h2></div>

				<img src="<%= image_path("screen.png") %>" alt="" id="screen-shot">
				<div class="second-page-text">
					<p>CheckMail is a tool to simplify your life, starting with email. Built upon Google’s GMail platform, it provides a quick and efficient method for organizing your email into categorical lists. Share a list and you can quickly collaborate with others, or trade emails between lists to sort out what you need to do. We live busy lives, and our inboxes show for it. CheckMail brings order to this chaos.</p>
				</div>
			</div>


	

			<div class="ending-text">
				<div class="content-wrapper">
					<p class="half-width pull-right">Email shouldn&#39;t be a worry. It should be simple. You should get the same satisfaction using email as finishing a great project.<br><br>

					That&#39;s where CheckMail comes in. We&#39;re here to make email nice again. Sign up, make some lists, and we&#39;ll help you take control of your life.  </p> 
					<div class="half-width pull-left logo-img"><a href="<%= url_for user_omniauth_authorize_path(:google_oauth2) %>" class="sign-up-button"><img src="<%= image_path("check-mail-logo.png") %>" alt=""></a></div>
				</div>
			</div>

			<div class="footer">
    			<a href="" class="btn btn-lg btn-success" type="button" data-toggle="modal" data-target="#login-modal">Sign Up With Gmail</a>
			</div>
		</div>
	</body>
</html>