%p test compose email
= form_tag '/compose_email', method: 'post' do
	%p
		= label_tag 'draft[to]', 'To (enter emails separated by commas):'
		= text_field_tag 'draft[to]'
	%p
		= label_tag 'draft[cc]', 'CC (enter emails separated by commas):'
		= text_field_tag 'draft[cc]'
	%p
		= label_tag 'draft[bcc]', 'BCC (enter emails separated by commas):'
		= text_field_tag 'draft[bcc]'
	%p
		= label_tag 'draft[subject]', 'Subject:'
		= text_field_tag 'draft[subject]'
	%p
		= label_tag 'draft[body]', 'Body:'
		= text_area_tag 'draft[body]'
	%p 
		= submit_tag 'Send'