%h2= @email.subject
- if @email.labels.length > 0 then
	%h3 Labels:
	%ul
		- @email.labels.each do |label|
			%li= label.name
%p= link_to 'Manage labels', "/manage_email_labels/#{@email.id}"
%p= "Date: #{@email.date}"
%p= "From: #{EmailAddress.from_addresses_to_string(@email.id)}"
%p= "To: #{EmailAddress.to_addresses_to_string(@email.id)}"
%p= "CC: #{EmailAddress.cc_addresses_to_string(@email.id)}"
%p= "UID: #{@email.uid}"
%p= link_to 'Reply to email', '/compose_email'
%p= link_to 'Reply all to email', '/compose_email'
%p= link_to 'Forward email', '/compose_email'
- if @email.html_body then
	%p= @email.html_body.html_safe
- elsif @email.text_body then
	%p= @email.text_body
